body {
	background-color: #000;
	color: #fff;
	margin: 0;
	padding: 0;
	font-family: Tahoma, Geneva, sans-serif;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
	line-height: 1.5;
	-webkit-transition: all .2s;
	transition: all .2s;

	font-size: 24px;
	color: #09bbff;
	display: block;
	background-color: #000;
	padding: 1em 1.5em;
}
a:visited {
	color: #ffb509;
}
a:hover {
	/*color: #126a8c;*/
}
	
h1 {
	padding: 1em;
	margin: 0;
	font-size: 36px;
	text-align: center;
	background-color: #060606;
	font-family: sans-serif;
}